cubox.popclipext/cubox-macos-amd64 filter=lfs diff=lfs merge=lfs -text
cubox.popclipext/cubox-macos-arm64 filter=lfs diff=lfs merge=lfs -text
cubox.popclipext/cubox filter=lfs diff=lfs merge=lfs -text
*.popclipextz filter=lfs diff=lfs merge=lfs -text
